.wish-button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top: 30px;

    p{
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 20px;
        font-weight: 400;
        line-height: 26px;
        letter-spacing: 0%;
        text-align: center;
    }

    button{
        width: 223px;
        height: 56px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px; 
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        background-color: #fff;


    }
}

.wishlist-product{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    margin-top: 100px;
}

.w-product{
    height: 350px;
    display: flex;
    flex-direction: column;
}
.topw-product{
    width: 270px;
    height: 250px;
    border-radius: 4px; 
    background-color: rgb(245, 245, 245);

}
.remotes{
    width: 172px;
    height: 152px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.wishlist-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-left: 12px;
    margin-right: 12px;
}
.sale{
    width: 55px;
    height: 26px;
    border-radius: 4px; 
    background-color: rgb(219, 68, 68);
    color: rgb(250, 250, 250);
    font-family: Poppins;
    font-size: 12px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.iconw{
    display: flex;
    flex-direction: column;
   

}
.iconw img{
    width: 34px;
    height: 34px;
}

.aboutw-product{
    width: 201px;
    height: 84px;
}

   

       
    
.grade-w{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    margin-top: -30px;
}

.grade-w img{
    width: 100px;
    height: 20px;
}
.grade-w p{
    color: rgb(158, 157, 157);
    margin-top: 20px;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 600;
    line-height: 21px;
    letter-spacing: 0%;
    text-align: left;
}




.aboutw-product h1{
    color: rgb(0, 0, 0);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    margin-top: 15px;
    margin-bottom: 5px;
}

.price-w{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85px;
    margin-bottom: 5px;
}
.f-stylew{
    color: rgb(219, 68, 68);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}

.s-stylew{
    color: rgb(158, 157, 157);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line:line-through;          
}


.flash-salew{
    display: flex;
    flex-direction: column;
    
    }

    h1{
        color: rgb(0, 0, 0);
        font-family: Inter;
        font-size: 36px;
        font-weight: 600;
        line-height: 48px;
        letter-spacing: 4%;
        text-align: left;
        width: 211px;
        margin-top: 30px;
    }


.todayw{
    width: 130px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.cubew{
    width: 20px;
    height: 40px;
    border-radius: 4px; 
    background: rgb(219, 68, 68);
}

.cubew p{
    color: rgb(219, 68, 68);
    font-family: Poppins;   
    font-size: 16px;
    font-weight: 600;
    line-height: 20px;
    letter-spacing: 0%;
    text-align: left;
    padding-top: -5px;
    width: 350px;
    margin-left: 35px;
    margin-top: 6px;
}

.wish-second{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1440px;
    margin: 0 auto;
    margin-top:50px;
    margin-bottom: 50px;

    button{
        width: 150px;
        height: 56px;
        box-sizing: border-box;
        border: 1px solid rgba(0, 0, 0, 0.5);
        border-radius: 4px; 
        color: rgb(0, 0, 0);
        font-family: Poppins;
        font-size: 16px;
        font-weight: 500;
        line-height: 24px;
        letter-spacing: 0%;
        text-align: center;
        background-color: #fff;


    }
}